.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  margin-top: 70px;
  background-color: rgba(20, 168, 188, 0.5);
}

.lists {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #333;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 40px;
  gap: 100px;
  justify-content: center;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 70px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book img {
  object-fit: cover;
  width: 200px;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.title {
  text-align: center;
  color: #222;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.author {
  text-align: center;
  color: #555;
  font-size: 16px;
  font-weight: 400;
}

.description {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.buy {
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buy:hover {
  background-color: #555;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
